node_modules
**/node_modules
.pnpm-store
**/.turbo
.turbo
.pnpm-store/*
dist
**/dist
**/build
out
.coverage
coverage
.git
.gitignore
*.log
.DS_Store
.env
.env.*
!.env-example
.vscode
.idea
.docker
bluetthub-v3.html
*.patch
*.py
start-dev.bat
*test*.txt
test_holder.txt